form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 2rem auto;
}

form label {
  margin: auto;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

form input,
form input:active {
  display: block;
  outline: none;
  width: 50%;
  font: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #fffbf1;
  border-bottom: 2px solid #35359e;
  margin-bottom: 0.5rem;
  border: none;
  text-align: center;
  animation: animated-border-color 4s infinite;
}

@keyframes animated-border-color {
  0% {
    box-shadow: 0 0 0 2px #ffcbf4;
  }
  25% {
    box-shadow: 0 0 0 2px #cf99ef;
  }
  50% {
    box-shadow: 0 0 0 2px #f37ca6;
  }
  75% {
    box-shadow: 0 0 0 2px #ff6060;
  }
  100% {
    box-shadow: 0 0 0 2px #ffcbf4;
  }
}

form button {
  font: inherit;
  background-color: #ffdbbd;
  border: 1px solid #ffdbbd;
  color: #201d0f;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  width: 9rem;
  margin: 0.5rem auto;
}

form button:hover,
form button:active {
  background-color: #f9b97d;
  border-color: #f9b97d;
  transition: border-color, background-color ease 0.3s;
}
